MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_AIRFLOW_DB=
ORACLE_PASSWORD=
ORACLE_USER=
SPARK_MASTER_URL=
ICEBERG_CATALOG_URI=
ICEBERG_WAREHOUSE=
AIRFLOW__CORE__FERNET_KEY=
AIRFLOW__WEBSERVER__SECRET_KEY=
AIRFLOW__CORE__EXECUTOR=
AIRFLOW_UID=
